* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
  }
  
  ul{
    list-style: none;
    font-family: 'Share Tech Mono', monospace;
  }
  nav {
    font-family: 'Share Tech Mono', monospace;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
    text-decoration: none;
  }
  
  nav a {
    font-family: 'Share Tech Mono', monospace;
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    font-family: 'Share Tech Mono', monospace;
    background: #0f3854;
    text-decoration: none;
  }

  
  #wrapper {
    padding: 100px;
    border-radius: 30px;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  }
  
  #chrono {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
    color: aliceblue;
  }
  
  button {
    font-size: 25px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:not(:last-child) {
    margin-right: 15px;
    /* background-color:  radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%); */
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    color: aliceblue;
  }
  
  button:nth-child(2) {
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    color: aliceblue;
  }

  
  button:last-child {
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    color: aliceblue;
  }

  #liste{
 padding: 10px;
 margin: 20px;
 text-decoration: none;
 text-align: center;
 background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
 color: aliceblue
  };

